@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <img src="~/images/icons8-carrinho-de-compras-64.png" width="35px" height="35px">
        <span>
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}
