<div class="container">

    <div class="container-fluid">
        <h3 class="text-center">Duvidas? Precisando de ajuda?</h3>
        <br />
        <h5 class="text-center">Contate-nos!</h5>
        <br />
        <hr />
        <img src="~/images/Contate-nos.jpg" alt="Imagem, contatos" />
        
        <p>
            <h5>Email:  batatinha123@pudim.com.br</h5>
            <br />
            <h5> Telefone:  (71) 9XXXX-XXXX</h5>
            <br />
            <h5>Endereço: Rua Batata, casa 69 condominio pudim numero 138- CEP: XXXXX-XXX - Salvador </h5>
        </p>
    </div>
</div>
