<br />

<div class="container">
    <div class="text-center">
        <p>
           <h2>Área do Administrador.</h2>
        </p>
        <img src="~/images/admin.jpg" alt="Àrea de Administração" class="marginTop1" />
    </div>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Volta a Home Page</a>
</div>